
<h3 align="center">به نام خدا </h3>
<h2 align="center">تمرین سری پنجم </h2>


<p align="right">در این تمرین داده ها در سه کلاس مختلف و دارای دو ویژگی هستند می خواهیم با کمک دانسته های خود از توزیع های نرمال چند متغیره داده ها را دسته بندی کنیم</p>

<p align="right">دقت کنید که در این تمرین سه مجموعه داده ی آموزشی و یک مجموعه داده آزمایشی داریم. می خواهیم هر چهار حالت مختلفی که برای کوواریانس در جدول ۵٫۱ کتاب آمده است را برای این مجموعه داده پیاده سازی کنیم. یعنی برای هر مجموعه داده ۴ حالت مختلف و در کل ۱۲ حالت مختلف داریم</p>

# داده های ۵۰ تایی

<p align="right">ابتدا داده ها را از فایل می خوانیم</p>

In [0]:
import pandas as pd
pd.read_csv("train_50.csv")

     feature_1   feature2 class
0     3.995248  20.748698     A
1   -33.638589  29.655566     A
2   -12.059753  30.842051     A
3   -11.364022  32.932277     A
4    -3.042561  13.479239     A
..         ...        ...   ...
145   2.781643   4.192512     C
146   9.023292   3.073695     C
147  23.850850  11.979647     C
148 -11.440716 -11.948574     C
149  -9.381017 -11.674320     C

[150 rows x 3 columns]

<p align="right">اکنون با کمک داده های موجود و چهار روشی که در جدول ۵٫۱ آمده  است داده های فایل تست را ارزیابی کنید و نتیجه را گزارش کنید</p>

In [0]:
import pandas as pd
pd.read_csv("test_labels.csv")

     feature_1   feature2 class
0    -5.956759  39.731351     A
1     7.762367  13.013505     A
2   -15.604349  22.882440     A
3   -24.274123  23.258260     A
4   -10.702425  23.885268     A
..         ...        ...   ...
595  -3.540240  -8.646928     B
596   4.443038  -2.633018     B
597  17.105440   9.854244     B
598   4.346026   6.328321     B
599   6.346741  15.980343     B

[600 rows x 3 columns]

# داده های 250 تایی

<p align="right">ابتدا داده ها را از فایل می خوانیم</p>

In [0]:
import pandas as pd
pd.read_csv("train_250.csv")

     feature_1   feature2 class
0     3.995248  20.748698     A
1   -33.638589  29.655566     A
2   -12.059753  30.842051     A
3   -11.364022  32.932277     A
4    -3.042561  13.479239     A
..         ...        ...   ...
745  -2.235812  10.089859     C
746  29.568559  14.672537     C
747 -16.545281  -3.312079     C
748 -12.817971 -14.392794     C
749   3.729180  -3.108631     C

[750 rows x 3 columns]

<p align="right">اکنون با کمک داده های موجود و چهار روشی که در جدول ۵٫۱ آمده  است داده های فایل تست را ارزیابی کنید و نتیجه را گزارش کنید</p>

In [0]:
import pandas as pd
pd.read_csv("test_labels.csv")

     feature_1   feature2 class
0    -5.956759  39.731351     A
1     7.762367  13.013505     A
2   -15.604349  22.882440     A
3   -24.274123  23.258260     A
4   -10.702425  23.885268     A
..         ...        ...   ...
595  -3.540240  -8.646928     B
596   4.443038  -2.633018     B
597  17.105440   9.854244     B
598   4.346026   6.328321     B
599   6.346741  15.980343     B

[600 rows x 3 columns]

# داده های 800 تایی

<p align="right">ابتدا داده ها را از فایل می خوانیم</p>

In [0]:
import pandas as pd
pd.read_csv("train_800.csv")

      feature_1   feature2 class
0      3.995248  20.748698     A
1    -33.638589  29.655566     A
2    -12.059753  30.842051     A
3    -11.364022  32.932277     A
4     -3.042561  13.479239     A
...         ...        ...   ...
2395   9.899822   3.461156     C
2396   3.471923   7.636385     C
2397 -20.651202  -6.338062     C
2398   3.163450   4.271676     C
2399   9.402216  12.729652     C

[2400 rows x 3 columns]

<p align="right">اکنون با کمک داده های موجود و چهار روشی که در جدول ۵٫۱ آمده  است داده های فایل تست را ارزیابی کنید و نتیجه را گزارش کنید</p>

In [0]:
import pandas as pd
pd.read_csv("test_labels.csv")

     feature_1   feature2 class
0    -5.956759  39.731351     A
1     7.762367  13.013505     A
2   -15.604349  22.882440     A
3   -24.274123  23.258260     A
4   -10.702425  23.885268     A
..         ...        ...   ...
595  -3.540240  -8.646928     B
596   4.443038  -2.633018     B
597  17.105440   9.854244     B
598   4.346026   6.328321     B
599   6.346741  15.980343     B

[600 rows x 3 columns]

# ارزیابی بهترین مدل

<p align="right">در این بخش داده های موجود را با بهترین مدلی که یافتید دسته بندی کنید و نتایج را در یک فایل ذخیره کنید. در این فایل فقط کلاس داده ها را به ترتیب فایل داده شده بنویسید. دقت این ارزیابی  توسط دستیار آموزشی محاسبه می گردد و در نمره شما موثر است</p>

<p align="right">ابتدا داده ها را از فایل می خوانیم</p>

In [0]:
import pandas as pd
pd.read_csv("test_without_labels.csv")

      feature_1   feature2  class
0     -2.328524  25.753123    NaN
1    -20.284837  29.915689    NaN
2    -28.839157  35.557409    NaN
3      3.714023  16.545123    NaN
4    -23.595944  33.222675    NaN
...         ...        ...    ...
1495 -16.678540 -10.423661    NaN
1496   2.797295   5.665233    NaN
1497  18.866574  -2.742950    NaN
1498 -12.293818  -0.370455    NaN
1499  -1.854180   3.080005    NaN

[1500 rows x 3 columns]